@model SkillExchange.Web.Areas.User.Models.ProfileModel

<main class="col-lg-8 col-lg-offset-2">
    <div class="page-header">
        <h3 class="text-center text-warning">@Model.FirstName @Model.LastName's profile</h3>
    </div>
    <div>
        <div class="panel panel-info col-lg-5 pull-left no-padding">
            <div class="panel-heading">
                <h3 class="panel-title">Personal info</h3>
            </div>
            <div class="panel-body">
                <div><span class="text-primary">Username </span>@Model.Username</div>
                <div><span class="text-primary">Town </span>@Model.Town</div>
                <div><span class="text-primary">Email </span>@Model.Email</div>
                @if (Model.Description != null)
                {
                    <div><span class="text-primary">Description </span>@Model.Description</div>
                }
                else
                {
                    <div><span class="text-primary">Description </span>No description yet</div>
                }
            </div>
        </div>
        <div class="panel panel-info col-lg-6 pull-right no-padding">
            <div class="panel-heading">
                <h3 class="panel-title">Skills</h3>
            </div>
            <div class="panel-body">
                <div class="well no-padding">
                    <div class="text-warning text-center skill-section-title">Offering</div>
                    @if (Model.OfferingSkills.Any())
                    {
                        <ul class="breadcrumb">
                            @for (int skill = 0; skill < Model.OfferingSkills.Count; skill++)
                            {
                                <li>
                                    <span class="text-primary">@Model.OfferingSkills[skill].Name </span>
                                    <span class="label label-info">@Model.OfferingSkills[skill].CategoryName</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div>
                            <p class=" text-primary text-center">
                                No infomation for offering skills
                            </p>
                        </div>
                    }
                </div>

                <div class="well no-padding">
                    <div class="text-warning text-center skill-section-title">Seeking</div>
                    @if (Model.SeekingSkills.Any())
                    {
                        <ul class="breadcrumb">
                            @for (int skill = 0; skill < Model.SeekingSkills.Count; skill++)
                            {
                                <li>
                                    <span class="text-primary">@Model.SeekingSkills[skill].Name </span>
                                    <span class="label label-info">@Model.SeekingSkills[skill].CategoryName</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <div>
                            <p class=" text-primary text-center">
                                No infomation for seeking skills
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>

